body {
  background-color: rgb(228, 228, 228);
  margin: 48px;
}
header {
  text-align: center;
  background-color: lightgrey;
  border: 1px solid black;
  text-align: center;
  padding: 8px;
}
header a {
  margin: 0;
  font-size: 32px;
  font-weight: bold;
}
footer {
  background-color: lightgray;
  text-align: center;
  padding: 20px 16px;
  border: 1px solid black;
}
footer p {
  margin: 0;
}
div {
  margin: auto;
  text-align: center;
}

button {
  padding: 16px;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: white;
  cursor: pointer;
}
input {
  padding: 4px;
}

div a {
  font-size: 24px;
  display: block;
}
div b {
  font-size: 24px;
  display: block;
}

.inputText {
  display: inline;
  font-size: 16px;
}

.right {
  float: right;
  margin-right: 10px;
}
.smallButtons {
  font-size: 16px;
  margin: 10px;
  width: 10%;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px;
}
.plusMinusBt {
  width: 40%;
  padding: 0px 32px;
  background-color: transparent;
  border: none;
}

.accessories {
  margin: 10px;
  text-align: left;
  width: fit-content;
}

.plusMinusImg {
  max-width: 50px;
  max-height: 50px;
}

#BackToList {
  font-size: 16px;
  padding: 16px;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: white;
  width: 700px;
  cursor: pointer;
}

#summaryBlock {
  text-align: center;
  margin: auto;
  padding: 70px 0;
}
.hiddenSummary {
  display: none;
}
.inputText {
  font-size: 20px;
}
.inputsAccesories {
  margin: 10px;
}
.RadioButtons {
  cursor: pointer;
}
