body {
  background-color: rgb(228, 228, 228);
  margin: 24px;
}
header {
  background-color: white;
  border: 1px solid black;
}
footer {
  background-color: lightgray;
  text-align: center;
  padding: 20px 16px;
  border: 1px solid black;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
footer p {
  margin: 0;
}
button {
  font-size: 16px;
  padding: 16px;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: white;
  width: 700px;
  cursor: pointer;
}

#summaryBlock {
  text-align: center;
  margin: auto;
  padding: 70px 0;
}
